---
http_interactions:
- request:
    method: get
    uri: https://www.potterapi.com/v1/characters?house=Gryffindor&key=POTTER_API_KEY&orderOfThePhoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d1c-6wCCu8iukoNs+ycETTSw4t37JOM"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5a0fa7dcae5bc100213c2338","name":"Sirius Black","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","alias":"Padfoot","animagus":"black dog","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a1096b33dc2080021cd8762","name":"Aberforth
        Dumbledore","role":"Owner, Hog''s Head Inn","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","alias":"Ab","patronus":"goat","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"half-blood","species":"human"},{"_id":"5a1097653dc2080021cd8763","name":"Albus
        Dumbledore","role":"Headmaster, Hogwarts","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","wand":"Elder, 15\", thestral tail hair","boggart":"Ariana
        (sister)","patronus":"phoenix","__v":0,"ministryOfMagic":true,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"half-blood","species":"human"},{"_id":"5a109af13dc2080021cd877a","name":"Hermione
        Granger","role":"student","house":"Gryffindor","school":"Hogwarts School of
        Witchcraft and Wizardry","wand":"Vine wood, 10 3/4\", dragon heartstring","boggart":"failure","patronus":"otter","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":[...]
[...]
